{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
    <div class='hero-section bg-gray-800 text-white text-center flex flex-col justify-center items-center h-[550px] md:h-[580px] lg:h-[600px]'>
        
        <div class='updn hero-img my-4'>dd
        </div>
        
        <div class='hero-btn my-3 md:mt-2 font-bold text-sm md:text-[16px] md:leading-6'>
  
        </div>
        {% comment %} <div class='hero-socials text-xl bg-slate-600 rounded-full p-1 px-28'>
            <ul class='flex flex-row gap-2'>
                <li><a href='/' class='hover:text-blue-100'><i class="bi bi-youtube"></i></a></li>
                <li><a href='/' class='hover:text-blue-100'><i class="bi bi-discord"></i></a></li>
                <li><a href='/' class='hover:text-blue-100'><i class="bi bi-linkedin"></i></a></li>
            </ul>
        </div> {% endcomment %}
    </div>
    {% comment %} <div class='bg-slate-800 text-white p-5'>
        <span style="font-family: Poppins-Bold" class='text-2xl font-extrabold'>Checkout my latest posts</span>
    </div> {% endcomment %}

    <div class='blog-section bg-gray-900 p-4 text-white'>
        <span style="font-family: Poppins-Bold" class='grid items-center px-2 text-start md:text-start md:pl-36 text-2xl md:text-3xl lg:text-4xl my-6 md:my-10'>Checkout my latest posts</span>
        <div class='blogs my-5 grid justify-center md:flex md:space-x-6'>
            
        </div>
        
    </div>
        

{% endblock %}